<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/highlight.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" />
</head>
<body>
    <div class="container">
        {{ content }}
    </div>
    <a href="http://github.com/{{ site.user }}/{{ site.repo }}"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub" /></a>
</body>
</html>